{% extends 'adminmain12.html' %}


 

{% block content %} 

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Document</h6>

                <form  method="POST" enctype="multipart/form-data">
                  {% csrf_token %} 
                  
                    <div class="mb-3">
                      <label >Patient Name</label>
                      <select name="patient" class="form-control">
                          {% for i in patient %}
                          <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label" >Document Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label" >Image</label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    </div>

                <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
alert('Record Saved Successfully');
window.location=("{% url 'viewdoc' %}");
</script>
{% endif %}
{% if error == "yes" %}
<script>
alert('Something went wrong, Try Again');
</script>
{% endif %}





{% endblock %}
