{%extends 'exportdata.html'%}
{%block content %}
<thead>
    <tr>
      <th>
        Department ID
      </th>
      <th>
        Department Name
      </th>
      <th>
        Update
        </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>
  
  <tbody>
    {% for i in department %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        
        <td class="select"><a class="button"href="{% url 'editdepartment' i.id %}" onclick="return confirm('Are   you really want to update ')" class="btn btn-primary">Update</a></td>
        <td class="select"><a class="button"href="{% url 'deletedepartment' i.id %}" onclick="return confirm('Are   you really want to delete ')" class="btn btn-danger">Delete</a></td>
        
    </tr>
    {% endfor i in department %}
</tbody>
{% endblock %}