{%extends 'admindoctor12.html'%}
{%block content %}


<!--Table start-->

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">View Document</h6>
        
        <div class="table-responsive">
            <table id="example" class="table">
                <thead>
                  <tr>
                      <th>Document ID</th>
                      <th>Patient Name</th>
                      <th>Document Name</th>
                      <th>Document</th>
                     
                    </tr>
                </thead>
                <tbody>
                  {% for i in document %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.patient}}</td>
                      <td>{{i.name}}</td>
                      <td>
                        <img src="{{i.image.url}}" alt=""width="50" height="60" >
                      </td>
                
                  </tr>
                  {% endfor i in document %}
              </tbody>
                
                
              </tbody>
              </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->
{% endblock %}

