{% extends 'adminmain12.html' %}


 

{% block content %} 

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Invoice Generation</h6>
         
                <form  method="post" action="{% url 'finalinvoice' %}"  >
                   
                  {% csrf_token %} 
                    <!-- <div class="mb-3">
                      <label >Patient Name</label>
                      <select name="name" class="form-control" >
                      
                          <option value="{{bill.name}}"> {{bill.patient}}</option>
                         
                      </select>
                    </div> -->
                    <div class="mb-3">
                      <label >Patient Name</label>
                      <select name="patient"id="myDropdown" class="form-control">
                          {% for i in patient %}
                          <option value="{{i.name}}" >{{i.name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label >Patient Name</label>
                      <select name="mailid"id="myDropdown" class="form-control">
                          {% for i in patient %}
                          <option value="{{i.mailid}}" >{{i.mailid}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <!-- <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" value="{{bill.patient}}">
                  </div> -->
                    
                    <div class="mb-3">
                        <label for="operation" class="form-label">Operation Cost</label>
                        <input type="number" class="form-control" id="operation" name="operation" value="{{bill.operation}}">
                    </div>
                    <div class="mb-3">
                      <label for="medicine" class="form-label">Medicine Cost</label>
                      <input type="number" class="form-control" id="medicine" name="medicine" value="{{bill.medicine}}">
                  </div>
                  <div class="mb-3">
                      <label for="additional" class="form-label">Additional Charges</label>
                      <input type="number" class="form-control" id="additional" name="additional" value="{{bill.additional}}">
                  </div>
                  <div class="mb-3">
                      <label for="tax" class="form-label">Tax Amount</label>
                      <input type="number" class="form-control" id="tax" name="tax" value="{{bill.tax}}">
                    <div class="mb-3">
                      <label for="note" class="form-label" >note</label>
                      <input type="textarea" class="form-control" id="note" name="note" value="{{bill.note}}">
                  </div> 

                         <div class="mb-3">
                            <label for="date">Date</label>
                            <input type="date" id="myDate" name="date" value = '{{ bill.date1|date:"Y-m-d" }}' >
                        </div>
                        <!-- value = '{{ bill.date1|date:"Y-m-d" }}'  -->
                        
                            <!-- {% if bill.status == 'Paid' %}
                            <input type="checkbox" name="status" value="{{bill.status}}"checked="true"> Paid </br>
                            <input type="checkbox" name="status" value="{{bill.status}}"> Pending </br>
                            {% else %}
                            <input type="checkbox" name="status" value="{{bill.status}}"> Paid </br>
                            <input type="checkbox" name="status" value="{{bill.status}}"checked="true"> Pending</br>
                            {% endif %} -->
                            
                      
                
                <button type="submit" class="btn btn-primary">Generate Invoice</button>
                
                </form>

            </div>
        </div>
    </div>
</div>

<script>
  // Set the default value using JavaScript
  document.getElementById("myDropdown").value = "{{bill.patient}}";
</script>
{% if error == "no" %}
<script>
alert('Record Saved Successfully');
window.location=("{% url 'viewgbill' %}");
</script>
{% endif %}
{% if error == "yes" %}
<script>
alert('Something went wrong, Try Again');
</script>
{% endif %}





{% endblock %}
