
{%extends 'adminmain12.html'%}
{%block content %}

<!--Table start-->

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <!-- <h3 style="text-align: center;padding-bottom: 20px;color: #009CFF;">View Department </h3> -->

        <h3><section class="animation">
       
          <div class="first"><div>CureSync</div></div>
          <div class="second"><div>Department Section</div></div>
          <div class="third"><div>Detailed  View</div></div>
          <br>
        </section></h3>

        <h2><p  class= "select plus-btn" >
          <a class="button1"type="button" href="{% url 'adddepartment' %}"><i class="fa fa-plus" style="font-size:30px;color:#009CFF"></i></a> 
      </p></h2>
        <div class="table-responsive" style="margin-top: -50px;">
            <table id='example'class="table" style="margin-top: 30px;">
                <thead>
                  <tr>
                    <th>
                      Department ID
                    </th>
                    <th>
                      Department Name
                    </th>
                    <th>
                      Update
                      </th>
                    <th>
                      Delete
                    </th>
                  </tr>
                </thead>
                
                <tbody>
                  {% for i in department %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.name}}</td>
                      
                      <td class="select"><a class="button"href="{% url 'editdepartment' i.id %}" onclick="return confirm('Are   you really want to update ')" class="btn btn-primary">Update</a></td>
                      <td class="select"><a class="button"href="{% url 'deletedepartment' i.id %}" onclick="return confirm('Are   you really want to delete ')" class="btn btn-danger">Delete</a></td>
                      
                  </tr>
                  {% endfor i in department %}
              </tbody>
              </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->
{% endblock %}

