{%extends 'adminmain12.html'%}
{%block content %}


<!--Table start-->

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <!-- <h3 style="text-align: center;padding-bottom: 20px;color: #009CFF;">Appointment Details</h3> -->
        <h3><section class="animation">
       
            <div class="first"><div>CureSync</div></div>
            <div class="second"><div>Appointment Department</div></div>
            <div class="third"><div>Detailed  View</div></div>
            <br>
          </section></h3>
        <h2><p  class= "select plus-btn" >
            <a class="button1 plus-plus"type="button" href="{% url 'addappointment' %}"><i class="fa fa-plus" ></i></a> 
        </p></h2>
        <div class="table-responsive" style="margin-top: -50px;">
            <table id="example" class="table"style="margin-top: 30px;">
                <thead>
                  <tr>
                      <th>Appointment ID</th>
                      <th>Doctor Name</th>
                      <th>Patient Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                  {% for i in appoint %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.doctor}}</td>
                      <td>{{i.patient}}</td>
                      <td>{{i.date1}}</td>
                      <td>{{i.time1}}</td>
                      <td class="select"><a class="button"href="{% url 'editappoint' i.id %}" onclick="return confirm('Are   you really want to update ')" class="btn btn-warning">Update</a></td>
                      <td class="select"><a class="button" href="{% url 'deleteappointment' i.id %}" onclick="return confirm('Are   you really want to delete ')" class="btn btn-danger">Delete</a></td>
                  </tr>
                  {% endfor i in appoint %}
              </tbody>
                
                
             
              </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->
{% endblock %}

