{%extends 'adminmain12.html'%}
{%block content %}


<!--Table start-->

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
   <!-- <h3 style="text-align: center;padding-bottom: 20px;color: #009CFF;">View Patient </h3> -->

   <h3><section class="animation">
       
    <div class="first"><div>CureSync</div></div>
    <div class="second"><div>Patient Department</div></div>
    <div class="third"><div>Detailed  View</div></div>
    <br>
  </section></h3>
          
              <h2><p  class= "select plus-btn" >
                <a class="button1 plus-plus"type="button" href="{% url 'addpatient' %}"><i class="fa fa-plus" ></i></a> 
            </p></h2>
        <div class="table-responsive" style="margin-top: -50px;">
            <table id="example" class="table" style="margin-top: 30px;">
                <thead>
                  <tr>
                    <th>
                      Patient ID
                    </th>
                    <th>
                      Patient Name
                    </th>
                    <th>
                      Gender
                    </th>
                    <th>
                      Mail Id
                    </th>
                    <th>
                      Department
                    </th>
                    <th>
                      Contact
                    </th>
                    <th>
                      Address
                    </th>
                    <th>Document</th>
                    <th>Update</th>
                    <th>
                      Delete
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in pat %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.gender}}</td>
                      <td>{{i.mailid}}</td>
                      <td>{{i.department}}</td>
                      <td>{{i.mobile}}</td>
                      <td>{{i.address}}</td>
                      <td>
                        <img src="{{i.image.url}}" alt=""width="50" height="60" >
                      </td>
                      <td class="select"><a class="button"href="{% url 'editpatient' i.id %}" onclick="return confirm('Are   you really want to update ')" class="btn btn-warning">Update</a></td>
                      <td class="select"><a class="button" href="{% url 'deletepatient' i.id %}" onclick="return confirm('Are   you really want to delete ')" class="btn btn-danger">Delete</a></td>
                  </tr>
                  {% endfor i in pat %}
              </tbody>
                
                
              </tbody>
              </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->
{% endblock %}

